<footer class="footer">
  <div class="container footerBox">
    <p class="copyright text-muted">
      Copyright&nbsp;&copy;&nbsp; {{ site.time | date: '%Y' }} 
      {% if site.pretty-url %} &nbsp;&bull;&nbsp;
        <a href="{{ site.url }}">{{ site.pretty-url }}</a> 
      {% endif %}
    </p>

    <!-- This is my 'Open Source' work. So, please don't remove the below copyright content. :) -->
    <p class="text-muted">
      Design by
      <a href="https://roweium.com">Roweium Agency</a>
    </p>
  </div>
</footer>
